.new-incident-container{
    width: 100%;
    max-width: 1120px;
    height:100vh;
    margin: 0 auto;

    display: flex;
    align-items: center; /*Alinha verticalmente ao centro*/
    justify-content: center; /*Alinha horizontalmente ao centro*/
}

.new-incident-container .content{

    width:100%;
    padding: 96px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    display: flex;
    justify-content: space-between; /*uma parte para direita, outra pra esquerda, espaço no meio, usar section foi importante*/
    align-items: center;
}

.new-incident-container .content section{

    width: 100%;
    max-width: 380px;

}

.new-incident-container .content section h1{

    margin: 64px 0 32px; /*64 em cima, 0 nas laterais, 32 em baixo*/
    font-size: 32px;

}

.new-incident-container .content section p{

    font-size: 18px;
    color: #737380;
    line-height: 32px;

}

.new-incident-container .content form{

    width: 100%;
    max-width: 450px;

}

.new-incident-container .content form input, textarea{

    margin-top: 8px;

}

@media only screen and (max-width: 850px) {
    .new-incident-container section {
        position: relative;
    }

    .new-incident-container .content section h1{
        margin: 32px 0;
        text-align: center;
    }

    .new-incident-container .content section p{
        text-align: center;
    }

    .new-incident-container .content img{
        width: 150px;
    }

    .new-incident-container .content a{
        position: absolute;
        top: -20px;
        right: 0;
    }
    
    .new-incident-container form {
        margin: 0 auto;
    }

    .new-incident-container .content {
        padding: 40px 20px;
        justify-content: center;
        flex-direction: column;
    }
}
  