.profile-container{
    width: 100%;
    /* max-width: 1180px; */
    padding: 0 24px;
    margin: 20px auto;
}

.profile-container .headerLogo {
    width: 150px;
}

.profile-container header{
    display: flex;
    align-items: center;
}

.profile-container .welcome{
    display: block !important;
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}

.profile-container header a{
    /* width: 280px; */
    margin-left: auto;
    margin-top: 0;
}

.profile-container header button{
    height: 48px;
    width: 48px;
    border-radius: 4px;
    border: 1px solid #dcdce6;
    background: transparent;
    margin-left: 16px;
    transition: border-color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-container .addButton{
    cursor: pointer;
    background-color: #e02041;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    padding: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.profile-container .addButton:hover {
    filter: brightness(90%);
} 
    
.profile-container header button:hover{
    border-color: #999;
}

.profile-container h1 {
    margin-top: 20px;
    margin-bottom: 32px;
    text-align: center;
}

.profile-container .incidentList {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /*Duas colunas de tamanho flexives, que ocupem o mesmo espaço*/
    grid-gap: 24px;
    list-style: none;
}

.profile-container .incident {
    background: #fff;
    padding: 24px;
    border-radius: 8px;
    position: relative;
}

.profile-container .incidentList .incident button {
    position: absolute;
    right: 24px;
    top: 24px;
    border: 0;
    transition: opacity 0.2s;
}

.profile-container .incidentList .incident button + button{
    right: 48px;
}

.profile-container .incidentList .incident strong {
    display: block;
    margin-bottom: 16px;
    color: #41414d;
}

.profile-container .incidentList .incident p + strong {
    margin-top: 32px;
}

.profile-container .incidentList .incident p {
    color: #737380;
    line-height: 21px;
    font-size: 16px;
}

@media only screen and (max-width: 465px) {
    .profile-container .addButtonText {
        display: none;
    }
}

@media only screen and (min-width: 800px) {
    .profile-container .incidentList {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
  
@media only screen and (min-width: 1200px) {
    .profile-container .incidentList {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media only screen and (min-width: 1600px) {
    .profile-container .incidentList {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}
  
@media only screen and (min-width: 2000px) {
    .profile-container .incidentList {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
}
  
@media only screen and (min-width: 2400px) {
    .profile-container .incidentList {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
}

@media only screen and (min-width: 2800px) {
    .profile-container .incidentList {
        grid-template-columns: repeat(7, minmax(0, 1fr));
    }
}

@media only screen and (min-width: 3200px) {
    .profile-container .incidentList {
        grid-template-columns: repeat(8, minmax(0, 1fr));
    }
}